@page "/createevent"
@inject IEventService eventService


<EditForm Model="Input" OnValidSubmit="Save">


    <div class="form-group w-75">
        <label for="description"> Description </label>
        <InputText @bind-Value="Input.Description" class="form-control" title="description" id="description" />
    </div> 
    <div class="form-group w-75">
        <label for="registrationURL"> Registration URL </label>
        <InputText @bind-Value="Input.RegistrationURL" class="form-control" title="registrationURL" id="registrationURL" />
    </div> 


    <div class="form-group w-75">
        <label for="scheduleURL"> Schedule URL </label>
        <InputText @bind-Value="Input.ScheduleURL" class="form-control" title="scheduleURL" id="scheduleURL" />
    </div> 


    <div class="form-group w-75">
        <label for="speakerListURL"> Speaker List URL </label>
        <InputText @bind-Value="Input.SpeakerListURL" class="form-control" title="speakerListURL" id="speakerListURL" />
    </div>
    <div class="form-group w-75">
        <label for="volunteerRequestURL"> Volunteer Request URL </label>
        <InputText @bind-Value="Input.VolunteerRequestURL" class="form-control" title="volunteerRequestURL" id="volunteerRequestURL" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary ">Save</button>
</EditForm>



@code{
    public Event Input { get; set; } = new Event();

    protected override async Task OnInitializedAsync()
    {
        Input = new Event();
    }

    protected async Task Save()
    {
        await eventService.CreateEvent(Input);
    }
}