@page "/"

<PageTitle>Index</PageTitle>

<div class="container-md">

    <div class="text-center">
        <img src="https://datasaturdays.com/assets/design/facebook/c.facebook%201r.png" alt="Data Saturdays" class="rounded " style="width: 100%; height: auto; object-fit: contain;"/>
        <h2 class=" section-heading text-uppercase mx-5 ">Welcome to Data Saturdays</h2>
    </div>
    <div>
        
        <strong>Data Saturdays</strong> "is a place for the data community to run" <em>small regional events</em> 
        "with little outlay or set-up difficulties. Here you can access a set of tools and have open, 
        transparent discussions on how your event should be set up and utilised."
    </div>  
</div>

@code{

}



