@page
@model UserModel
@{
    ViewData["Title"] = "User Dashboard";
}

<div class="container-fluid">
    @(await Html.RenderComponentAsync<Dashboard>(RenderMode.Server, new { CurrentUser = User.Identity.Name }))
</div>