@page
@{
    ViewData["Title"] = "User Dashboard";
}

<div class="container-fluid">
    @(await Html.RenderComponentAsync<Dashboard>(RenderMode.Server, new { CurrentUser = User.Identity.Name, IsAdmin = User.IsInRole("Admin")}))
</div>