@page
@model UserModel
@{
    ViewData["Title"] = "User Dashboard";
}


<div class="row">
    <div class=" col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 ">


            <h1 class="nav-item text-truncate text-center">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/EventEdit/@Guid.Empty">
                   CREATE EVENT
                </a>
            </h1>
       
        <div id="events-out" class="row align-content-center page-section">
            <div id="events">
                <h2 class="section-heading text-uppercase pt-4">My Events</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <table table="" cellspacing="0" class="table-responsive table-striped table-hover mt-3 justify-content-center" id="eventlist" width="100%">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Events List to show personal events-->
                            @if (Model != null)
                            {
                                @if (Model.Events.Any())
                                {
                                    @foreach (var item in Model.Events.OrderBy(s => s.Date))
                                    {
                                        <tr>
                                            <td>
                                                <div class="hero-box mt-3">
                                                    <a href="/EventEdit/@item.Id">
                                                        <img src="assets/design/logo/10.png" height="65">
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="hero-box mt-3 flex-nowrap text-uppercase">
                                                    <a href="/EventEdit/@item.Id">
                                                        <div class="nav-link">@item.Name</div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="hero-box mt-3 flex-nowrap">
                                                    <div class="nav-link">@item.Date.ToString("dd MMMM yyyy")</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="hero-box">
                                                    <button class="btn btn-danger">Delete Event</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="hero-box">
                                                    <button class="btn btn-primary">Publish</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   
    </div>
</div>