@page "{EventId:guid}"
@model EventEditModel
@{
    ViewData["Title"] = "Edit Event";
}

<div class="container-fluid">

    @(
        await Html.RenderComponentAsync<Edit>(RenderMode.Server, new { Id = Model.Id, CurrentUser = User.Identity.Name })
        )
</div>