@page
@model EventEditModel
@{
    ViewData["Title"] = "Edit Event";
}

<div class="container-fluid">
    <EditForm OnValidSubmit="Save" class="row">
        
        <div class="col-12 pt-3">

            <!-- START OBLIGATORY -->
            <h1>STANDARD INFOS</h1>
            <div class="row mt-lg-5">
                
                <div class="col-4">
                    <div class="form-group">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" title="Name" />
                    </div>
                </div>
        

                <div class="col-4">
                    <div class="form-group">
                        <label for="txtDate">Date</label>
                        <input type="text" class="form-control" title="Date" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <input type="text" class="form-control" title="Description" rows="5" />
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="urlReg">Registration URL</label>
                        <input type="url" class="form-control" title="RegURL" />
                    </div>
                </div>


                <div class="col-4">
                    <div class="form-group">
                        <label for="urlCFS">Call For Speaker URL</label>
                        <input type="url" class="form-control" title="CFSURL" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="urlSchedule">Schedule URL</label>
                        <input type="url" class="form-control" title="ScheduleURL" />
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="urlSpeakerList">Speaker List URL</label>
                        <input type="url" class="form-control" title="SpeakerListURL" />
                    </div>
                </div>


                <div class="col-4">
                    <div class="form-group">
                        <label for="urlVolunteer">Volunteers URL</label>
                        <input type="url" class="form-control" title="VolURL" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="urlMap">Venue Map URL</label>
                        <input type="url" class="form-control" title="VMapURL" />
                    </div>
                </div>
            </div>

            <div class="col-4 form-check">
                <input class="form-check-input checkbox-size" type="checkbox" title="VirtualCheck" id="VirtualCheck">
                <label class="form-check-label" for="VirtualCheck">Virtual(optional)</label>
            </div>

        </div>

        <!-- START ORGANIZERS -->
        <div class="col-12 pt-3">
            <h1>ORGANIZERS</h1>
        </div>

        <div class="row mt-lg-5">

            <div class="col-4">
                <div class="form-group">
                    <label for="txtOName">Organizer Name</label>
                    <input type="text" class="form-control" title="OName" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlOEmail">Organizer's email URL</label>
                    <input type="url" class="form-control" title="OrgEmail" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlOTwitt">Organizer's Twitter URL</label>
                    <input type="url" class="form-control" title="OrgTwitt" />
                </div>
            </div>
        </div>
        <!-- END ORGANIZERS -->

        <!-- END OBLIGATORY -->
        
        </br>

        <!-- START MILESTONES -->
        <div class="col-12 pt-3">            
            <h1>MILESTONES (Optional)</h1>
        </div>

        <div class="row mt-lg-5">

            <div class="col-3">
                <div class="form-group">
                    <label for="txtMName">Milestone Name</label>
                    <input type="text" class="form-control" title="MName" />
                </div>
            </div>


            <div class="col-3">
                <div class="form-group">
                    <label for="txtMDate">Milestone Date</label>
                    <input type="text" class="form-control" title="MDate" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="txtMDesc">Milestone Description</label>
                    <input type="text" class="form-control" title="MDesc" rows="5" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="txtMOrder">Milestone Order</label>
                    <input type="text" class="form-control" title="MOrder" />
                </div>
            </div>

        </div>
        <!-- END MILESTONES -->

        <br />

        <!-- START PRECONFERENCE -->
        <div class="col-12 pt-3">
            <h1>PRECONFERENCE (Optional)</h1>
        </div>

        <div class="row mt-lg-5">

            <div class="col-6">
                <div class="form-group">
                    <label for="txtPName">Preconference Name</label>
                    <input type="text" class="form-control" title="PreconName" />
                </div>
            </div>


            <div class="col-6">
                <div class="form-group">
                    <label for="txtPDesc">Preconference Description</label>
                    <input type="text" class="form-control" title="PreconDesc" rows="5" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="txtSName">Speaker Name</label>
                    <input type="text" class="form-control" title="SName" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlSpeaker">Speaker URL</label>
                    <input type="url" class="form-control" title="SURL" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlSpeakerimg">Speaker Image URL</label>
                    <input type="url" class="form-control" title="SImgURL" />
                </div>
            </div>

        </div>
        <!-- END PRECONFERENCE -->

        <br />

        <!-- START SPONSORS -->
        <div class="col-12 pt-3">
            <h1>ACTUAL SPONSORS (Optional)</h1>
        </div>

        <div class="row mt-lg-5">

            <div class="col-3">
                <div class="form-group">
                    <label for="txtSName">Sponsor Name</label>
                    <input type="text" class="form-control" title="SName" />
                </div>
            </div>


            <div class="col-3">
                <div class="form-group">
                    <label for="urlSImg">Sponsor Image</label>
                    <input type="url" class="form-control" title="SImg" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="urlSLink">Sponsor Link</label>
                    <input type="url" class="form-control" title="SLink" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="txtSLevel">Sponsor Level</label>
                    <input type="text" class="form-control" title="SLevel" />
                </div>
            </div>

        </div>
        <!-- END SPONSORS -->

        <br />

        <!-- START VIRTUAL --!>
        <div class="row mt-lg-5">
            <div class="col-12">
                <h1>
                    Room(optional)
                </h1>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="txtRName">Room Name</label>
                    <input type="text" class="form-control" title="RName" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="urlRoom">Room URL</label>
                    <input type="url" class="form-control" title="RoomURL" />
                </div>
            </div>

        </div>
        <!-- END VIRTUAL -->

        <br />

        <!-- START OTHER -->
        <div class="col-12 pt-3">
            <h1>OTHER (Optional)</h1>
        </div>

        <div class="row mt-lg-5">

            <div class="col-3">
                <div class="col align-content-center form-check">
                    <input type="checkbox" class="form-check-input checkbox-size" title="HTL" id="checkboxHTL" />
                    <label for="checkboxHTL" class="form-check-label">Hide top Logo</label>
                </div>
            </div>


            <div class="col-3">
                <div class="col align-content-center form-check">
                    <input type="checkbox" class="form-check-input checkbox-size" title="COC" id="checkboxCOC" />
                    <label for="checkboxCOC" class="form-check-label">Code of Conduct</label>
                </div>
            </div>

            <div class="col-3">
                <div class="col align-content-center form-check">
                    <input type="checkbox" class="form-check-input checkbox-size" title="HJR" id="checkboxHJR" />
                    <label for="checkboxHJR" class="form-check-label">Hide Join Rooms</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="txtSDesc">Schedule Description</label>
                    <input type="text" class="form-control" title="SDesc" />
                </div>
            </div>

        </div>
        <!-- END OTHER -->
        
    </EditForm>
</div>



@*<div class="row">
   <EditForm OnValidSubmit="Save">
       <div class="form-group">
           <label for="txtName">Name</label>
           <input type="text" class="form-control" title="Name" />
       </div>

       <div class="row">
           <div class="col">
               <div class="form-group">
                   <label for="txtDate">Date</label>
                   <Input type="text" class="form-control" title="Date" />
               </div>
           </div>
       </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <Input type="text" class="form-control" title="Description" rows="5" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtPreconDescription">Precon Description</label>
                    <Input type="text" class="form-control" title="Precon Description" rows="5" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtRegistrationURL">Registration URL</label>
                    <Input type="text" class="form-control" title="Registration URL" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtCallForSpeakersURL">Call For Speakers URL</label>
                    <Input type="text" class="form-control" title="Call For Speakers URL" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtScheduleURL">Schedule URL</label>
                    <Input type="text" class="form-control" title="Schedule URL" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtSpeakerListURL">Speaker List URL</label>
                    <Input type="text" class="form-control" title="Speaker List URL" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="txtVolunteerURL">Volunteer URL</label>
                    <Input type="text" class="form-control" title="Volunteer URL" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxScheduleDescription">Schedule Description</label>
                <input type="checkbox" class="form-control" title="Schedule Description" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxVirtual">Virtual</label>
                <input type="checkbox" class="form-control" title="Virtual"/>
            </div>
           
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxHideTopLogo">Hide Top Logo</label>
                <input type="checkbox" class="form-control" title="Hide Top Logo" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxHideJoinRoom">Hide Join Room</label>
                <input type="checkbox" class="form-control" title="Hide Join Room" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxVenueMap">Venue Map</label>
                <input type="checkbox" class="form-control" title="Venue Map" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="checkboxCodeOfConduct">Code Of Conduct</label>
                <input type="checkbox" class="form-control" title="Code Of Conduct" />
            </div>
        </div>

        <!-- Milestones Dropdown -->
        <div class="row">
            <div class="col">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Milestones
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Name</label>
                                    <Input type="text" class="form-control" title="Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Date</label>
                                    <Input type="text" class="form-control" title="Date" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Order</label>
                                    <Input type="text" class="form-control" title="Order" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Milestones
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Name</label>
                                    <Input type="text" class="form-control" title="Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Date</label>
                                    <Input type="text" class="form-control" title="Date" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txtVolunteerURL">Order</label>
                                    <Input type="text" class="form-control" title="Order" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </EditForm>
</div>
*@