@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="mt-5">@ViewData["Title"]</h1>
</div>
<div class="row mr-5 ml-5">
    <div class="row mt-5 d-flex justify-content-center">
        <section>
            <form id="account" method="post">
                <h4></h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3 text-black-center">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 text-black-center">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-black-center">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="mb-3 text-black-center d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
            <div class="mt-5 text-center">
                <a asp-area="Identity" asp-page="/Account/Register">If you are not registered click here.</a>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}