<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Data Saturdays website" />
    <meta name="author" content="" />
    <title>@Model.Event.Name</title>

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.1/css/bootstrap.css rel=stylesheet>
    <link href=https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css rel=stylesheet>
    <link href=https://use.fontawesome.com/releases/v5.15.1/css/all.css rel=stylesheet>
    <!-- RSS feed -->
    <link rel="alternate" type="application/atom+xml" title="Data Saturdays" href="/feed.xml">
    <!-- Custom css -->
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>


<body>



    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark" id="mainNav">
        <a class="navbar-brand js-scroll-trigger text-truncate" title="@Model.Event.Name" href="#page-top">
            <img src="../assets/img/nav-logo.png" alt="" />
            @Model.Event.Name
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item text-truncate">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                @if (Model.Event.ScheduleURL != null)
                 {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#schedule">Schedule</a>
                    </li>
                 }
                @if (Model.Event.PreconDescription != null)
                 {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#precon">Precon</a>
                    </li>
                 }
                @if ((Model.Event.SpeakerListURL != null) || (Model.Event.CallForSpeakersURL != null))
                 {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#speakers">Speakers</a>
                    </li>              
                 }
                <li class="nav-item text-truncate">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                @if (Model.Event.VenueMap != null)
                 {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#venue">Venue</a>
                    </li>
                 }
                @if (Model.Event.Sponsors != null)
                {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a>
                    </li>
                }
                @if (Model.Event.CodeOfConduct != null)
                 {
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="#codeofconduct">CoC</a>
                    </li>
                 }
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
    </div>

       


    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © Data Saturdays <script>document.write(new Date().getFullYear())</script></div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/datasaturdays"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:support@datasaturdays.com"><i class="far fa-envelope"></i></a>
                    <!--
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <!-- <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div> -->
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

    <script>
        function init() {
            $.fn.dataTable.moment('D MMMM YYYY');
            $('#eventlist').DataTable({ "order": [[2, "asc"]] });
            $('#pasteventlist').DataTable({ "order": [[2, "asc"]] });
        };
    </script>
</body>
</html>